:root {
    /* Font-family */
    --ff-base: "League Spartan", serif;

    /* Font-size */
    --fs-900: clamp(2.5rem, 1.0556rem + 3.5556vw, 3.5rem); /*40px - 56px*/
    --fs-600: 1.1875rem; /*19px*/
    --fs-500: 1.0625rem; /*17px*/
    --fs-400: 0.9375rem; /*15px*/

    /* Font-weight */
    --fw-bold   : 700;
    --fw-medium : 500;
    --fw-regular: 400;
    
    /* Color primary */
    --clr-magenta : hsl(300, 43%, 22%);
    --clr-pink    : hsl(333, 80%, 67%);

    /* Color neutral */
    --clr-neutral-500: hsl(303, 10%, 53%);
    --clr-neutral-300: hsl(300, 24%, 96%);
    --clr-neutral-200: hsl(0, 0%, 100%);
    --clr-white:       hsl(0, 0%, 100%);
}

/*----------------------------------------------------------------*/
/*                            boilerplate                         */
/*----------------------------------------------------------------*/

/* Set box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin:0;
}

/* Set up the body */
body {
    font-family: var(--ff-base);
    font-weight: var(--fw-medium);
    min-height: 100dvh;

    background: 
        url('images/bg-pattern-top-mobile.svg') left top no-repeat,
        url('images/bg-pattern-bottom-mobile.svg') right bottom no-repeat;
}

/* Reset list */
ul[type = "menus"]{list-style: none;}

/* Reset link */
a[type = "menus"]{text-decoration: none;}

/* Make images easier to work with */
img,
picture {
    object-fit: cover;
    display: block;
}

/* Make form elements to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animation for people who' ve turned them off */
@media(pafers-reduced-motion: reduce) {
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*----------------------------------------------------------------*/
/*                                wrapper                         */
/*----------------------------------------------------------------*/

.wrapper {
    --space-lr: 1.5rem;
    width: min(100% - (var(--space-lr)*2), 69.375rem); /*1110px*/
    margin-inline: auto;

    padding-block-start:  5rem;
    padding-block-end: 6.25rem;

    display: grid;
}

/*----------------------------------------------------------------*/
/*                               intro                            */
/*----------------------------------------------------------------*/

.intro {
    text-align: center;
}

.intro .title {
    font-size: var(--fs-900);
    font-weight: var(--fw-bold);
    line-height: 2rem; /*32px*/
    letter-spacing: -1.43px;
    color: var(--clr-magenta);
}

.intro p {
    font-size: var(--fs-600);
    line-height: 1.5625rem; /*15px*/
    letter-spacing: -0.63px;
    color: var(--clr-neutral-500);
}

.intro .title + p {
    margin-block-start: 1.0625rem;
}

/*----------------------------------------------------------------*/
/*                              review                            */
/*----------------------------------------------------------------*/

.review:is(.review--pink){
    --bg-review: var(--clr-neutral-300);
    --clr-review-rate: var(--clr-magenta);
}

.review-group {
    margin-block-start: 2.5rem;
    display: grid;
    gap: 1rem;
}

.review {
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    gap:1.0625rem;
    justify-items: center;
    background-color: var(--bg-review);
}

.review .rate {
    font-size: var(--fs-500);
    color: var(--clr-review-rate);
}

.review .start > * {
    float: left;
}

.review .start > * + * {
    margin-inline-start: 0.5rem;
}

.review .start::after {
    clear: both;
    content: "";
    display: table;
}

/*----------------------------------------------------------------*/
/*                           testimonial                          */
/*----------------------------------------------------------------*/

.testimonial:is(.testimonial--magenta) {
    --bg-testimonial: var(--clr-magenta);
    --clr-testimonial: var(--clr-white);
    --clr-avatar-status: var(--clr-pink);
}

.testimonial-group {
    margin-block-start: 3.125rem;
    display: grid;
    row-gap: 1rem;
}

.testimonial {
    padding-block-start: 2.5rem;
    padding-block-end: 2.25rem;
    padding-inline: 2rem;
    border-radius: 0.5rem;
    background-color: var(--bg-testimonial);
    color: var(--clr-testimonial);
    min-height:15.5rem; /*248px*/
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 1fr max-content;
}

.testimonial .avatar {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
}

.testimonial .avatar img {
    width:  2.5rem;
    height: 2.5rem;
    border-radius: 50%;

    grid-column: 1;
    grid-row: span 2;
}

.testimonial .avatar .name {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    grid-column: 2;
}

.testimonial .avatar .status {
    font-size: var(--fs-500);
    font-weight: var(--fw-regular);
    color: var(--clr-avatar-status);
    grid-column: 2;
}

.testimonial .coment {
    font-size: var(--fs-500);
    font-weight: var(--fw-medium);
    line-height: 22px;
    letter-spacing: -0.3px;
}

.testimonial .coment::before {
    content: '\201c';
    margin-inline-end: 0.25rem;
}

.testimonial .coment::after {
    content: '\201d';
    margin-inline-start: 0.25rem;
}

@media (min-width: 600px) {
    body {
        display: grid;
        place-items: center;
        background: 
            url('images/bg-pattern-top-desktop.svg') left top no-repeat,
            url('images/bg-pattern-bottom-mobile.svg') right bottom no-repeat;
    }

    /*----------------------------------------------------------------*/
    /*                              wrapper                           */
    /*----------------------------------------------------------------*/

    .wrapper {
        gap: 1rem;
        row-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }

    /*----------------------------------------------------------------*/
    /*                               intro                            */
    /*----------------------------------------------------------------*/

    .intro {
        text-align: left;
        width: min(100%, 27.5rem);
    }
    
    .intro .title {
        line-height: 48px;
        letter-spacing: -2px;
    }
    
    .intro p {
        line-height: 25px;
        letter-spacing: -0.63px;
    }

    /*----------------------------------------------------------------*/
    /*                              review                            */
    /*----------------------------------------------------------------*/

    .review-group {
        margin-block-start: 0;
    }

    /*----------------------------------------------------------------*/
    /*                           testimonial                          */
    /*----------------------------------------------------------------*/

    .testimonial-group {
        margin-block-start: 0;
        min-height: 266px;
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }

    .testimonial:nth-child(3) {
        grid-column: span 2;
        grid-template-rows: max-content 1fr;
    }
}


@media (min-width: 900px) {

    body {
        background: 
            url('images/bg-pattern-top-desktop.svg') left top no-repeat,
            url('images/bg-pattern-bottom-desktop.svg') right bottom no-repeat;
    }

    /*----------------------------------------------------------------*/
    /*                           testimonial                          */
    /*----------------------------------------------------------------*/

    .wrapper {
        gap: 1rem;
        row-gap: 4.375rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(245px, 1fr) 1fr;
        align-items: center;
    }

    /*----------------------------------------------------------------*/
    /*                           testimonial                          */
    /*----------------------------------------------------------------*/

    .review {
        column-gap: 30px;
        width: min(100%, 27.5rem);
        height: min(100%, 200px);
        align-content: center;
        justify-items: start;
        grid-template-columns: max-content 1fr;
    }

    .review:first-child {
        justify-self: start;
    }

    .review:nth-child(2) {
        justify-self: center;
    }

    .review:nth-child(3) {
        justify-self: end;
    }

    /*----------------------------------------------------------------*/
    /*                           testimonial                          */
    /*----------------------------------------------------------------*/

    .testimonial-group {
        min-height: 266px;
        margin-block-start: 0;
        grid-column: span 2;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .testimonial {
        width: min(100%, 350px);
        height: min(100%, 234px);
    }

    .testimonial:first-child {
        align-self: start;
        justify-self: start;
    }

    .testimonial:nth-child(2) {
        align-self: center;
        justify-self: center;
    }
    
    .testimonial:nth-child(3) {
        align-self: end;
        grid-column: span 1;
        grid-template-rows: 1fr max-content ;
        justify-self: end;
    }
}